html {
    position: relative;
    min-height: 100%;
}

body {
    background-image: url("https://c4.wallpaperflare.com/wallpaper/665/68/940/anime-room-interior-dark-wallpaper-preview.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
    color: azure;
    text-align: justify;
    font-size: 20px;
}

.table-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
}