<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
            background-image: url(https://burst.shopifycdn.com/photos/contact-us-image.jpg?width=1200&format=pjpg&exif=1&iptc=1);
            background-size:cover;
        }

        .contact-container {
            background-color: rgba(255, 255, 255, 0.8);
            padding: 50px;
            margin-top: 100px;
            border-radius: 10px;
            text-align: center;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        }

        .contact-item {
            margin-bottom: 40px;
        }

        .contact-item i {
            font-size: 48px;
            margin-bottom: 20px;
            color: #0099ff;
        }

        .contact-item h3 {
            margin-bottom: 10px;
            font-size: 24px;
            color: #333;
        }

        .contact-item p {
            font-size: 18px;
            color: #777;
        }

        h1 {
            color: #333;
            font-size: 36px;
            margin-bottom: 30px;
        }
        .return-home-btn {
            position: fixed;
            bottom: 20px;
            right: 20px;
            background-color: #007bff;
            color: #fff;
            font-weight: bold;
            padding: 10px 20px;
            border-radius: 5px;
            text-decoration: none;
            transition: background-color 0.3s;
        }

        .return-home-btn:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="contact-container">
            <h1>Contact Us</h1>
            <div class="contact-info">
                <div class="contact-item">
                    <i class="fas fa-at"></i>
                    <h3>Email</h3>
                    <p>amine.dhane@epfedu.fr</p>
                </div>
                <div class="contact-item">
                    <i class="fas fa-phone"></i>
                    <h3>Phone</h3>
                    <p>+33 (0) 7 87 17 16 91</p>
                </div>
                <div class="contact-item">
                    <i class="fas fa-map-marker-alt"></i>
                    <h3>Address</h3>
                    <p>123 Rue du Coquelicot, Île-de-France, France</p>
                </div>
            </div>
        </div>
    </div>
    <a href="/" class="return-home-btn">
        <span>Return Home</span>
    </a>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>