<html>
    <head>
        <link rel="stylesheet" href="/normalize.css">
        <link rel="stylesheet" href="/style.css">
        <title>Create Student</title>
    </head>
    <body>
        <form method="POST" action="/students/create">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name">
            <label for="school">School:</label>
            <input type="text" id="school" name="school">
            <button type="submit" style="background-color: grey; color:white">Add Student</button>
          </form>
    </body>
</html>