<html>
    <head>
        <link rel="stylesheet" href="/normalize.css">
        <link rel="stylesheet" href="/style.css">
        <script src="/students_data.js"></script>
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <title>Students Data</title>
    </head>
    <body>
    </body>
</html>